
.Container{
    transform: rotateZ(0deg);
   
    position: fixed;
    width: 50px;
    z-index: 2;
    background-color: red;
    top: 100px;
    left: 5px;
    transition: all 2s linear;
   
    ul{
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
        background-color: white;
        width: 100%;
        padding: 0.3em;
        list-style: none;
        height: 250px;
        border-radius: 5px;
    }
    li{
        border: 1px solid #bbc;
        cursor: pointer;
        margin: 0.25em 0.1em;
        border-radius: 5px;
        padding: 0.1em;
    }
    a{
        color: black;
    }
}

@media screen and (min-width: 414px) {
.Container{
    top: 250px;
}
}