.footerContainer{
@include set-bg(darken($primary-dark,7%));
padding: 1em 0.6em;
text-align: center;
min-height: 20vh;
h4{
    font-size: 1.2rem;
    margin: 0.8em 0;
    line-height: 1.5;

}
span{
    color: $primary-green;
    font-style: italic;
}
h5{
    font-weight: 400;
    font-size: 1.03rem;
}
a{
    text-decoration: none;
    background-color: darken(red,10%);
    color: #fff;
    border:2px solid white ;
    display: block;
    margin: 0.9em auto;
    border-radius: 10px;
    padding: 0.5em 0.6em;
    width: 50%;

}
}