@media screen and (min-width:1200px) {
    .Main{
        background-size: 100% 80%;
        background-position: top;
    }
    .Container{
        width: 34%;
    }
    .footerContainer{
    a{
        width: 10%;
    }
    }
    .tokenPricesContainer {
        width: 34%;
    }
  
}