.Main{
    height: 100%;
    width: 100%;
    top: 0;
    // filter: brightness(0.8);
    background-image: (url(/images&gifs/grdient\ bg.gif));
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
   
}